*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Barrio',cursive;
}

/* COLORS */
.green{background:#6EB4AE;}
.pink{background:#DD7F85;}
.yellow{background:#E8CA82;}


.nav-section{
  background:#DD7F85;
  padding:40px 0;
  display:flex;
  justify-content:center;
  gap:45px;
}

.btn{
  position:relative;
  padding:16px 20px 6px 25px;
  font-size:38px;
  text-decoration:none;
  display:inline-block;
  text-align:center;
  color:#000;
  z-index:5;
  transition:.15s ease;
}

.btn::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:translate(8px,8px);
  z-index:-1;
}

.home{background:#BA5057;color:#000;}
.home::after{background:#F2BDC1;}

.about{background:#3D7D78;color:#FFF6B2;}
.about::after{background:#6EB4AE;}

.more{background:#882B31;color:#fff;}
.more::after{background:#BA5057;}

.traits{background:#BA5057;color:#000;}
.traits::after{background:#F2BDC1;}

.btn:hover{transform:translateY(6px);} 
.btn:active{transform:translateY(8px);} 

/* STRIPS */
.yellow-strip{
  height:130px;
  background:#E8CA82;
}

.cans-strip{
  background:#6EB4AE;
  padding:60px 0;
}

.cans-title-container{
  width:260px;
  height:110px;
  margin:auto;
  position:relative;
}

.cans-shadow{
  width:100%;
  height:100%;
  background:#C76974;
  position:absolute;
  top:0;
  left:0;
  transform:translate(14px,14px) rotate(-5deg);
  z-index:1;
}

.cans-top{
  width:100%;
  height:100%;
  background:#F2BDC1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:60px;
  position:absolute;
  transform:rotate(-5deg);
  z-index:5;
}

/* GRID */
.row-section{
  padding:90px 0;
}

.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  max-width:950px;
  margin:auto;
  gap:90px;
  text-align:center;
}

.image-box{
  width:200px;
  height:280px;
  background:#fff;
  padding:10px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:14px 14px 0 #E2A089;
  transition:.15s ease;
}

.image-box img{width:170px;}

.can-item p{
  margin-top:18px;
  font-size:32px;
}

.can-item:hover .image-box{
  box-shadow:6px 6px 0 #E2A089;
}

/* DOTS */
.dot-row{
  background:#6EB4AE;
  padding:60px 0;
  display:flex;
  justify-content:center;
  gap:25px;
}

.dot{
  width:75px;
  height:75px;
  background:#3C8C87;
  border-radius:50%;
}

/* BOTTOM BUTTON */
.bottom-section{
  background:#6EB4AE;
  padding:100px 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.bottom-wrapper{
  width:450px;
  margin:auto;
  position:relative;
  height:auto;
}

.bottom-shadow{
  width:100%;
  height:100%;
  background:#DD7F85;
  position:absolute;
  top:0;
  left:0;
  transform:translate(8px,8px);
  z-index:1;
  transition:.15s ease;
}

.bottom-btn{
  width:100%;
  background:#F2BDC1;
  padding:16px 20px 6px 25px;
  font-size:38px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  z-index:5;
  color:#000;
  cursor:pointer;
  transition:.15s ease;
}

.bottom-btn:hover{transform:translateY(6px);} 
.bottom-btn:active{transform:translateY(8px);} 

.bottom-wrapper:hover .bottom-shadow{
  transform:translate(4px,4px);
}
